body {
    font-family: "Baloo Bhai 2", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('first.jpg'); 
    background-size: cover; /* Adjusts the background image to cover the entire screen */
    background-position: center; /* Centers the background image */
}

.container {
    max-width: 90%; /* Adjusted for better responsiveness */
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 50%; /* Adjusted for better responsiveness */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    text-align: center;

}

button {
    display: block;
    width: 30%; /* Adjusted for better responsiveness */
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}

#locationResult {
    width: 60%;
    font-size: 18px;
    text-align: center; /* Center-align the text */
    margin: 20px auto; /* Center-align horizontally and add some space around it */
    padding: 10px; /* Add padding for better readability */
}

.center-form-text{
    margin-top: 50px;
    text-align: center;
    font-size:x-large;
    color: rgb(255, 0, 157);
    font-weight: 700;
}




